
<div class="row">
  <div class="col-xs-7">
    <%@cities.each do |city| %>
    <p><%= image_tag city.picture, height: 50, width: 150, crop: :fill %> - <%= city.name %></p>
    <% end %>

  </div>
</div>
